<br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Caption</th>
      <th>Image</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.caption %></td>
        <td><%= image_tag slide.slideimage.url(:medium) %></td>
        <td><%= link_to '編輯', edit_admin_slide_path(slide) %></td>
        <td><%= link_to '刪除', [:admin,slide], method: :delete, data: { confirm: '確定刪除此投影片？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
