<div class="panel panel-default">
  <div class="panel-heading">Caption:<%= @event.name %>
    <%= link_to '編輯', edit_admin_event_path(@event) %>
    |
    <%= link_to '返回', admin_events_path %></div>
  <div class="panel-body">
    <p id="notice"><%= notice %></p>
    <p>
    </p>
  </div>
</div>
