body {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 16px;
  line-height: 20px;
}
h1 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 25px;
  font-size: 20px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 14px;
}

div {
  font-size: 14px;
}



.button {
  display: inline-block;
  margin-top: 11px;
  margin-bottom: 11px;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.content-block {
  width: 92%;
  height: 1500px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 25px;
}
.left-sidebar {
  position: static;
  padding: 50px 0px 22px;
  text-align: center;
  background-color: black;
}
.content-column {
  padding-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
  border-left: 1px solid #333;
  background-color: black;
}
.logo {
  margin-bottom: 40px;
}
.nav-link {
  display: block;
  padding-top: 21px;
  border-top: 1px solid #333;
  padding-bottom: 21px;
  border-bottom: 1px solid #333;
  color: #a6a6a6;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.6;
  transition: background-color 0.2s ease;
  background-color: black;
}
.nav-link:hover {
  background-color: #f8c400;
  color: black;
  opacity: 1;
  text-decoration: none;
}
.image-example {
  height: 380px;
  background-image: url('../images/example-bg.png');
}
.caption {
  margin-top: 10px;
  margin-bottom: 10px;
}
.italic-text {
  margin-top: 18px;
  margin-bottom: 17px;
  color: #adadad;
  font-style: italic;
  font-weight: 400;
}
.italic-text.footer {
  width: 90%;
}
.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  padding-top: 9px;
  border-radius: 50px;
  background-color: #ccc;
}
.social-icon:hover {
  background-color: #adadad;
}
.footer-section {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  background-color: #ededed;
}
.fixed-nav {
  position: fixed;
  width: 33.34%;
}

.slideShow {
  width: 900px;
  height: 420px;
  position: relative;
  overflow: hidden;
}

.item {
  position: absolute;
  margin: 0px auto 0px auto;
}

.contact-us {
  margin-top: 20px;
  text-align: left;
  padding-left: 25px;
}


.btn {
  width: 150px;
  padding: 0;
  background-color: #888888;
}


}


@media (max-width: 991px) {
  .image-example {
    background-image: url('../images/example-bg.png');
  }
}
@media (max-width: 767px) {
  .left-sidebar {
    padding-top: 29px;
  }
  .content-column {
    padding-top: 0px;
  }
  .image-example {
    background-image: url('../images/example-bg.png');
  }
  .fixed-nav {
    position: static;
    width: auto;
  }
}
@media (max-width: 479px) {
  .image-example {
    background-image: url('../images/example-bg.png');
  }
}