<div class="history">
  <h1 style="color:#f8c400;">關於宏益特效 About Us</h1>
  <p>「宏益舞台特效有限公司」成立於西元1986年，是台灣目前最具有規模的舞台特效公司。在安全為先，效果至上的經營哲學引導下，宏益不斷引進及研發新穎的特效產品，並使用新科技的施放技術，故無論是國家級慶典活動、國內外大型演唱會、晚會、記者會、電視節目，甚至於校園、廟會的活動，都有宏益特效的呈現，而您的需求肯定與觀眾的讚嘆，宏益特效永遠為您盡心服務。<br>
    <br>
    宏益特效守則一 經營哲學-安全為先，效果至上。<br>
    宏益特效守則二 經營理念-專業、科技、求新。<br>
    宏益特效守則三 經營目標-為每場演出主動創造精緻的感官震撼與驚奇的特效視覺。<br>
    <br>
    宏益特效的視覺呈現已經和國際水準並駕齊驅，和日本TOKKO特效公司結盟並與世界頂尖煙火製造商合作，我們不僅不斷改進傳統特效的 聲光效果，更引進了電腦可與音樂同步結合的控制系統(如圖)，能準 確配合特效點同步施放，滿足各式表演的需求，精準度可到達千分之 一秒，引領全國特效技術的先驅。
  </p>
  <div class="contact-us">
    <table class="table">
      <tr>
        <td><strong>聯絡我們 Contact Us</strong><br>
          <a class="w-inline-block social-icon" href="mailto:hongyii@ms18.hinet.net">
            <%=image_tag("8a-social-email.png",width: '21')%>
          </a>
          <a class="w-inline-block social-icon" href="#">
            <%=image_tag("8b-social-facebook.png",width: '21')%>
          </a>
        </td>
        <td><strong>台北總公司 Taipei Main</strong>
          <p>
            地址：台北市內湖區新湖二路164號<br>
            電話：(02)2790-7765<br>
            傳真：(02)2790-7435<br>
          </p>
        </td>
        <td><strong>屏東分公司 Pingtung</strong>
          <p>
            地址：屏東縣九如鄉耆老村耆老路30號<br>
            電話：(08)7752-261<br>
            傳真：(08)7753-203<br>
          </p>
        </td>
      </tr>
    </table>
  </div>
