<span class="hidden-xs visible-sm visible-md visible-lg">
  <table class="table">
    <tr>
      <td style="text-align: center;">
        <strong>聯絡我們<br>Contact Us</strong><br>
      </td>
      <td>
        <p>
          地址：114 台北市內湖區新湖二路164號<br>
          電話：(02)2790-7765<br>
          傳真：(02)2790-7435<br>
          電子郵件：hongyii@ms18.hinet.net
        </p>
      </td>
      <td>
        <p>
          Address：1F., No.164, Sinhu 2nd Rd.,<br>
          Neihu District, Taipei City 114, Taiwan (R.O.C.)<br>
          Tel：+886-2-2790-7765<br>
          Fax：+886-2-2790-7435<br>
          E-mail：hongyii@ms18.hinet.net
        </p>
      </td>
    </tr>
  </table>
</span>
<span class="hidden-sm visible-xs">
  <hr>
  <section>
    <strong>聯絡我們<br>Contact Us</strong>
  </section>
  <br>
  <section>
    <p>
      地址：114 台北市內湖區新湖二路164號<br>
      電話：(02)2790-7765<br>
      傳真：(02)2790-7435<br>
      電子郵件：hongyii@ms18.hinet.net
    </p>
  </section>
  <section>
    <p>
      Address：1F., No.164, Sinhu 2nd Rd.,<br>
      Neihu District, Taipei City 114, Taiwan (R.O.C.)<br>
      Tel：+886-2-2790-7765<br>
      Fax：+886-2-2790-7435<br>
      E-mail：hongyii@ms18.hinet.net
    </p>
  </section>
</span>
